.app {
  width: 100px;
  height: 100px;
}
.Square {
  position: absolute;
  width: 50%;
  height: 50%;
}
.ShoppingList {
  position: absolute;
  width: 50%;
  height: 50%;
}
/* .game {
  background-color: blue;
  /* width: fit-content; 
  width: 20%;
  height: 20%;
}
.game-board {
  position:absolute;
  width: 100%;
  height: 100%;
} */
/* .board-row {
background-color: brown;
width: fit-content;
 height: 30px; 
} */
